.zero {
    margin: 30px;
    padding: 40px;
    background-color: black;
    text-align: center;
}

.pageContainer {
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

    align-items: center;
    justify-content: center;
    overflow: scroll;
}

.fadeOut{
    font-size: 30px;
    position: absolute;
    top: 50%;
    animation-name: fadeout;
    animation-delay: 1s;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    justify-content: center;
}

.fadeIn{
    opacity: 0;
    animation-name: fadein;
    animation-delay: 2.4s;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    font-size: 30px;
    box-shadow: 0 0 15px rgba(48, 48, 48, 1);
    
    /* posiciona a div adequadamente */
    position: fixed;
    top: -4vh;
    height: fit-content;
    width: 90vw;
    padding: 1%;
    margin: 3%;
    /* cor solida */
    /* background: rgba(43, 121, 48, 0.8); */
    
    /* gradiente */
    background-image: linear-gradient(to top right, rgba(35, 77, 38, 0.83), rgba(43, 121, 48, 0.87));


    /* ajusta texto */
    /* padding: 2vh 1vw 1vh; */
    text-align: center;
}

@keyframes fadeout {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadein {
    0% {opacity: 0;
         display: none;}
    100% {opacity: 1;}
}