:root {
    --cinza_menu: #F8F9FA;
    --paleta1: #2CAB7C;
    --paleta2: #A9DECA;
    --paleta3: #2B7930; 
    --paleta4: #85517F;
    --paleta5: #902CAB;
    --sombra: rgba(48, 48, 48, 1);
}

.ContainerForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin: 0 48px;
    background-color: var(--cinza_menu);
}

.pageContainer {
    display: flex;
    flex-direction: column;

    height: 100vh;
    width: 100vw;

    align-items: center;
    overflow: auto;
}

.fadeOut{
    font-size: 30px;
    position: absolute;
    top: 50%;
    animation-name: fadeout;
    animation-delay: 1s;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    justify-content: center;
}

.fadeIn{
    /* animacao */
    opacity: 0;
    animation-name: fadein;
    animation-delay: 2.4s;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;

    /* efeito sombra */
    box-shadow: 0 0 15px var(--sombra);
    
    /* posiciona a div adequadamente, margens e paddings */
    top: -3vh;
    width: 92vw;
    padding: 1%;
    margin: 3%;

    /* cor de fundo solida */
    /* background: rgba(43, 121, 48, 0.8); */
    
    /* cor de fundo gradiente */
    background-image: linear-gradient(to top right, var(--paleta3), var(--paleta1));
}

.ContainerButton {
    align-content: center;
}

@keyframes fadeout {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadein {
    0% {opacity: 0;
         display: none;}
    100% {opacity: 1;}
}